transformers < 5.0.0
numpy==1.26.4
pillow==10.2.0
onnxruntime-gpu
torch
matplotlib
pdfplumber
huggingface_hub
shapely
pyclipper
ruamel.yaml
cachetools
six
requests
pycryptodomex
strenum
torch
torchvision
trio
sherpa-onnx
soundfile
librosa
timm
fastapi
uvicorn[standard]
python-multipart
python-dotenv
accelerate
bitsandbytes